*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

header ul{
  height: 100%;
  line-height: $headerHeight / 2;
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
