header{
  height: $headerHeight;
  background: #101010;
  .header-top{
    width: $wrapper;
    margin: auto;
    height: $headerHeight / 2;
    ul{
      float: right;
      height: 100%;
      line-height: $headerHeight / 2;
      li{
        display: inline-block;
        list-style: none;
        margin: 0 10px;
        a {
          text-decoration: none;
          color: grey;
          &:hover{
            color: white;
          }
          i {
            margin-right: 3px;
            color: $blueColor;
          }
        }
        select{
          padding: 5px 2px;
          border-radius: 5px;
        }
      }
    }
  }
  .header-bottom{
    height: $headerHeight / 2;
  }
}
